.git
.github
data/
test/
docs/
.coverage
.pytest_cache
*.md
.venv
venv
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
install
log
results
*.pt
*.pth
*.ckpt
*.safetensors
*.db3
*.bag
*.mcap
*.pcd
*.ply
.DS_Store
